<div class="faw-carousel-actions">
  <faw-carousel-action-button data-action="play" data-icon="carousel-play" data-label="Play Carousel"></faw-carousel-action-button>
  <faw-carousel-action-button data-action="pause" data-icon="carousel-pause" data-label="Pause Carousel"></faw-carousel-action-button>
  <faw-carousel-action-button data-action="previous" data-hidden-mobile="true" data-icon="chevron-left" data-label="Previous" data-ng-hide="singleCarouselSlide()" data-speak="true"></faw-carousel-action-button>
  <faw-carousel-action-button data-action="next" data-hidden-mobile="true" data-icon="chevron" data-label="Next" data-ng-hide="singleCarouselSlide()" data-speak="true"></faw-carousel-action-button>
</div>
