<figure class="faw-carousel-slide" data-ng-class="{'carousel-slide-light': displaySlide.light, 'carousel-slide-dark': !displaySlide.light}">

    <!-- SLIDE CONTENT -->

    <!-- <a data-ng-href="{{displaySlide | url:previewMode}}" data-tracking-context="slide{{$index + 1}}-links" data-tracking-label="{{displaySlide.title}}">-->
        <!-- <div class="shade"></div> -->
        <!-- <faw-image data-image="displaySlide.image" data-letterbox="true" data-sky-only="slide.skyOnly" data-width="1140" data-height="380" data-style-class="poster"></faw-image> -->
    <!--</a>-->
    <!-- <faw-slide-programme-details data-display-model="displaySlide" data-sky-only="slide.skyOnly" data-short-text="true" data-index="{{$index + 1}}" data-pause-carousel="pauseCarousel()"></faw-slide-programme-details> -->
</figure>
